*{
    margin: 0px;
    padding: 0px;
}

html {
    scroll-behavior: smooth;
    background-color: beige;
  }

body{
    background-color: #d3d3d3;
}

#logo{
    display: inline-block;
    margin-left: 30px;
}

#logo > i{
    color: #ffff;
}

#logo-text{
    display: inline-block;
    color: white;
}

nav{
    height: 80px;
    background-color: cornflowerblue;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 23px;

}

nav > ul {
    list-style: none;
    display: inline-block;
    margin-right: 20px;
}

nav > ul > li{
    display: inline-block;
}

nav > ul > li >a:hover {
    background-color: #ffff;
    color: cornflowerblue;
    border-radius: 50px;
    transition: 0.9s ease;
}

nav > ul > li > a{
    text-decoration: none;
    color: #ffff;
    padding: 10px;
}

#banner{
  width: 98vw;
}

section > h2{
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    padding: 30px;
}

#product-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
#product-section h2{
    color: rgb(6, 15, 15);
    text-align: center;
    font-size: 23px;
    font-weight: bold;
    text-shadow:2px 2px #37eae4;
    margin: 19px;
    
    /* width: ; */
    background-color: rgb(218, 249, 250);

}

.product{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #ffff;
    border-radius: 20px;
    margin: 20px;
}

.product:hover{
    box-shadow: 10px 10px 10px grey;
}

.product > img{
    padding: 10px 0px;
    width: 20vw;
    height: 40vh;
    border-radius: 20px;
}

.product > h3{
    padding: 10px;
}

.price{
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}

.strike{
    text-decoration: line-through;
    color: gray;
}

.discount{
    color: red;
    font-weight: bold;
}

.cartButton {
    background-color: cornflowerblue;
    color: #ffff;
    border: 1px solid cornflowerblue;
    padding: 10px 30px;
    margin: 10px;
    border-radius: 50px;
}

.cartButton:hover{
    box-shadow: 5px 5px 5px gray;
}
#about-section h2{
    color: rgb(6, 15, 15);
    text-align: center;
    font-size: 23px;
    font-weight: bold;
    /* align-items: center; */
    text-shadow:2px 2px #37eae4;
    background-color: rgb(218, 249, 250);

}

#about-us{
    background-color: #ffff;
    padding: 20px;
    margin: 30px 50px;
    border-radius: 30px;
    box-shadow: 20px 20px 20px gray;
}
.footer{
    background-color:#24262b;
    padding: 70px 0;
}
.containerone{
    max-width: 1170px;
    margin: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.footer-col{
    width: 30%;
    padding: 0 15px;
}
.footer-col h4{
    font-size: 18px;
    color: white;
    margin-bottom: 25px;
    font-weight: 500;
    position: relative;
}
.footer-col h4::before{

    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background: #ffc500;
    height: 2px;
    box-sizing: border-box;
    width: 50px;

}
.footer-col ul {
list-style: none;
}
.footer-col ul li a{
    font-size: 16px;
    text-decoration: none;
    color: whitesmoke;
    display: block;
    transition:  all .3s ease;
}
.footer-col ul li a:hover{
    color: white;
    padding-left: 6px;

}

.footer-col .social-link a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background: rgba(255,255,255,.2);
    margin: 0 10px 10 0px;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffff;
    transition:all .5s ease ;
}
.footer-col .social-link a:hover{
    color: #24262b;
    background: #fff;
}





    



